<?xml version="1.0" encoding="UTF-8"" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title tal:content="listname" />
<style tal:replace="styles"/>
</head>
<body>
<form method="post" action="" enctype="multipart/form-data" onSubmit="document.getElementById('loading').style.visibility = 'visible';">
	<fieldset style="border:none">
		<label for="filename" i18n:translate="&amp;modules.solrsearch.bo.general.ImportSynonymsListFileInputLabel;" /><br/>
		<input style="float:right; margin-top:12px;" id="filename" name="filename" type="file"/>		
		<div style="clear:both" />
		<input style="float:right; margin-top:12px;" type="submit"  />
	</fieldset>
</form>
<div id="loading" style="visibility: hidden; text-align: center; font-size: 12pt; font-weight: bold;" i18n:translate="&modules.media.bo.general.Uploading;" />
</body>
</html>