<form class="cmxform" tal:attributes="method configuration/getSubmitMethod" action="${formAction}">
	<fieldset class="solrsearch-fieldset">
		<label class="hidden" for="solrsearch">${trans:m.solrsearch.frontoffice.search-input,lab,ucf}</label>
		<input class="textfield" type="text" id="solrsearch" name="${configuration/getModule}Param[terms]" value="${terms}" />
		<input class="button" type="submit" name="submit" value="${trans:m.solrsearch.frontoffice.search-button-ok,ucf,attr}" />
	</fieldset>
</form>
<tal:block tal:condition="configuration/getComplete">
	<script change:javascript="head 'modules.website.lib.js.jquery-ui-autocomplete'"></script>
	<script type="text/javascript">
		/* <![CDATA[ */
		jQuery(function() {
			var cache = {};
			var lastXhr;
			jQuery('#solrsearch').autocomplete({ 
				delay: 500,
				source: function(request, response) {
					var term = request.term;
					if (term in cache)
					{
						response(cache[term]); 
						return;
					}
			
					lastXhr = jQuery.getJSON("${actionurl:'solrsearch','Complete',js,op='AND',fieldName='aggregateText',limit=30,out='jquery-ui-autocomplete'}", request, function(data, status, xhr) {
						cache[term] = data;
						if (xhr === lastXhr)
						{
							response(data);
						}
					});
				},
				open: function() { jQuery('#solrsearch').autocomplete('widget').css('width', jQuery('.solrsearch-fieldset').css('width')); } 
			});
		});
		/* ]]> */
	</script>
</tal:block>